// Colors
@gray: #333;
@light-green: #8ADC60;
@dark-green: #17981B;
@red: #DE3E1E;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');

@primary-font: 'Kufam', cursive;