*{
  padding: 0;
  margin: 0;
  border: 0;
  display: block;
}

ul{
  background-color: yellow;
  padding: 5%;
}

ul li{
  display: inline;
}

.top{
  background-image: url("img/banner-bg.png");
  height: 250px;
}

button{
  padding: 1.5%;
  background-color: yellow;
  margin: 0 auto;
  border-radius: 10%;
}

.burger{
  justify-content: : flex-end;
}
